doctype html
html(lang="en")
  head
    //Meta tage
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    //Title of the page
    title Title

    //FavIcon
    link(rel='shortcut icon' href='favicon.ico')

    //Link Stylesheet
    link(rel='stylesheet', href='assets/css/style.css')

    //[if lt IE 9]
        script(src="/vendor/assets/js/html5shiv.js")
        script(src="/vendor/assets/js/respond.min.js")
    //[endif]

  body
    section
        h1 HELLO WORLD
    
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='assets/script/script.js')