//Importing Tools folder
@import "tools/font";

//Importing Base folder
@import "base/base";
@import "base/var";

//Importing Layout Folder
@import "layout/layout";

//Importing Modules Folder
@import "module/modules";

//Importing States Folder
@import "state/state";

@import "bowerPackages/bourbon/app/assets/stylesheets/_bourbon.scss";

//Your Styling
body {
    background: green;
    transition: all 0.5s ease;
    border-radius: 10px;
    display: flex;
}

* {
    box-sizing: border-box;
}

section {
	@include linear-gradient(to top, red, orange);
	@include box-sizing(border-box);
	@include size(10em);
}



