//Importing Tools folder
@import "tools/font";

//Importing Base folder
@import "base/base";
@import "base/var";

//Importing Layout Folder
@import "layout/layout";

//Importing Modules Folder
@import "module/modules";

//Importing States Folder
@import "state/state";

//Your Styling
body {
    background: green;
    transition: all 0.5s ease;
    border-radius: 10px;
    display: flex;
}

* {
    box-sizing: border-box;
}



