//Importing Tools folder
@import "tools/font";

//Importing Base folder
@import "base/base";
@import "base/var";

//Importing Layout Folder
@import "layout/layout";

//Importing Modules Folder
@import "module/modules";

//Importing States Folder
@import "state/state";

body {
	background: yellow !important;
	color: #ececece;
	text-decoration: none;

  span { 
    background: white; 
    color: black;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    font-size: 12px;
  }

}



